@import "../variables";

@mixin circle() {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin:0;
    border-radius: 0px;
}

.root {
    display: inline-block;
    box-sizing: border-box;
    width: 1 / 7 * 100%;

    list-style: none;

    font-size: 16px;
    text-align: center;

    cursor: pointer;
    user-select: none;

    &.enabled {
        &.highlighted, &:active, &:hover {
            position: relative;
            z-index: 1;

            &:before {
                @include circle();

                background-color: antiquewhite;
                z-index: -1;
            }
        }

        &:hover:before {
            opacity: 0.5;
        }
        &.highlighted:before, &:active:before {
            opacity: 1;
        }
    }

    &:first-child {
        position: relative;
    }

    &.today {
        position: relative;
        z-index: 2;

        > span {
            color: $textColor;
        }

        &.disabled > span {
            color: #AAA;
        }

        &:before {
            @include circle();
            box-shadow: inset 0 0 0 1px;
            z-index: -1;
        }

        &.disabled:before {
            box-shadow: inset 0 0 0 1px #BBB;
        }
    }
    &.selected {
        position: relative;

        > .month, > .year {
            display: none;
        }
        
        &:before {
            display: none;
        }

        .selection {
            @include circle();
            line-height: $rowHeight;
            z-index: 2;

            .month {
                width: 100%;
                left: 0px;
                top: 15px;
                font-weight: bold;
                font-size: 14px;
            }
            .day {
                position: relative;
                top: 5px;
                width: 100%;
                left: 0px;

                font-weight: bold;
                font-size: 18px;
            }
        }
    }
    &.disabled {
        cursor: default;
        color: #AAA;
        cursor: not-allowed;
    }

    position: relative;
    border: 1px solid #efefef;
    overflow: hidden;
    min-height: 56px;
    height: 100%;
}

.month, .year, .day {
    position: absolute;
    font-size: 12px;
    line-height: initial;
}

.day {
    top: 5px;
    right: 5px;
    font-size: 14px;
}
.month {
    top: 5px;
    left: 5px;
}
.year {
    right: 5px;
    bottom: 5px;
}

.marker {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 5px;
    height: 20px;
    text-align: left;
    line-height: initial;

    .img, .note {

        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: inline-block;
        overflow: auto;
        position: relative;
        margin-left: 5px;
    }
    .img { 
        vertical-align: initial;
    }
    .note {
        background-color: deepskyblue;
    }
}
